<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>All classes for a Widget </string>
	<key>Summary</key>
	<string>All classes for a Widget </string>
	<key>SortOrder</key>
	<string>30</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>MainTemplateFile</key>
	<string>___VARIABLE_Scene___Widget.swift</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>Widget</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Please enter a Widget name:</string>
			<key>Description</key>
			<string>Example: Habit</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
